---
layout: default
---

<div class="home">
    
  <ul class="project-list">
    {% for project in site.projects %}
      <li>
          {% include image.html %}
        <!--<span class="project-meta">{{ project.date | date: "%b %-d, %Y" }}</span>-->

        <h2>
          <a class="project-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Posts</h1>
    
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

<!--   <img sizes="(min-width: 40em) 80vw, 100vw"
srcset="img/sm/lights16x9-hi.jpg 300w, img/med/lights16x9-hi.jpg 700w, img/large/lights16x9-hi.jpg 1920w" alt="Lights">-->
    
    {% include image.html name="lights16x9-hi.jpg" alt="Lights" %}
    
    <div>
I make things that live in both geographical space and personal space.<br>

I splice strange loops and curious passageways into existing networks.<br>

I build ways to imagine new kinds of political agency.<br>

I conduct field experiments.<br>

My projects have strained (convoluted?) relationships with functionality.<br>

I fold vast distances into small objects that often disappear.<br>
    </div>
</div>


