---
layout: page
title: texts
permalink: /texts/
---

{% for text in site.texts limit:1%}
{%if text.image %}<img src="/img/large/{{text.image}}">{%endif%}
{% endfor %}

 <ul class="post-list">
    {% for text in site.texts %}
      <li>
        <span class="post-meta">{{ text.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ text.url | prepend: site.baseurl }}">{{ text.title }}</a>
        </h2>
          {{post.excerpt}}
          <a class="post-link" href="{{ text.url | prepend: site.baseurl }}">>>continue reading</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

