
<!--im, works, urlbase, linkTarget, autoFillCaption)%}-->
{% import "workText.njk" as wc %}   
{% if "webimg" in gridImage %}
{% set alt = works | workInfo(gridImage.workid, "Artists") + ", " + works | workCaption(gridImage.workid, false) | striptags %}
<div vocab="https://schema.org/" typeof="ImageObject">
    {% if (linkTarget != null)%} <a href="{{linkTarget}}"> {% endif %}
    <span property="name" content="{{alt | striptags}}"></span>
    {% image "." + urlbase + gridImage["webimg"], alt, "100vw"%}
    <span rel="schema:creator">
        <span typeof="schema:Person"></span>
        <span property="schema:name" content="David Rueter"></span>
        <span property="schema:disambiguatingDescription" content="Artist"></span>
    </span>
    <span property="copyrightNotice" content="David Rueter"></span>
    <span property="license" content="https://davidrueter.com/about/"></span>
    <span property="creditText" content="David Rueter"></span>
    <span property="acquireLicensePage" content="https://davidrueter.com/about/"></span>
    {% if (linkTarget != null)%}</a>{% endif %}
    
</div>
{% elif "webvid" in gridImage %}

<video-js class="vjs-big-play-centered" data-setup='{"fluid": true, "controls": true}'>
    <source src="{{urlbase}}{{gridImage["webvid"] | videoURL}}" type="application/x-mpegURL">
</video-js>
{% endif %}
<div class="grid-item-caption">
{% if ("caption" in gridImage) or not autoFillCaption %}
<div class="workCaption">
{{ gridImage.caption | safe }}
</div>
{% else %}
{{ wc.workCaption(works,gridImage.workid,true) | safe}}
{% endif %} 
</div>
