---
title: David Rueter
url: https://benedictrueter.com
img: /static/br.jpg
alt: Documentation of works by artist David Rueter
layout: base.njk
---


<style>    
    .grid {
        width: 100%; 
        margin 0;
    }
    @media (min-width: 960px){
        .grid-item {
            width: calc((33% - 10px));
            padding-bottom: 20px;
         }
        
    }
    @media (max-width: 960px){
        .grid-item { 
            width: 100%;
            padding-bottom: 1em;
        }
    }

    .grid-item-caption {
    }
    
    .showInfo {
        padding-bottom: 1em;
    }
   
    
</style>

<div id="home" class="content">

    <div class="grid" id="grid">
    {% for item in collections.images | reverse %}
    {% for im in item.data.images %}
        {% set caption = item.data.works | workCaption (item.data.tags, im)%}
         <div class="grid-item" id="{% if im.id %}{{im.id}}{% else %}{{item.data.works | workInfo (im.workid, "Name") + "-" + loop.index + ""  | slug}} {%endif%}">
            {% set alt = item.data.works | workInfo(im.workid, "Artists") + "," + caption | striptags %}
            {% image "." + item.data.page.url + im["webimg"], alt, "100vw"%}
            <div class="grid-item-caption">
            {{caption | safe}}
            </div>
        </div>
    {% endfor %}
    {% endfor %}
    </div>
</div>
    
    
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script>
        setTitleColor("#000");
        var elem = document.querySelector('.grid');
        var mry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item',
        gutter: 20,
        percentPosition: true,
        //isFitWidth: true
        //columnWidth: '.grid-sizer'
        });

        
        imagesLoaded(document.querySelector('.grid')).on('progress', ()=>{
            mry.layout();
        });
    </script>
            
<div class="content textblock">
    {{content | safe}}
<div>