---
title: Marissa Lee Benedict and David Rueter
url: https://benedictrueter.com
img: /static/br.jpg
alt: Documentation of works by artists Marissa Lee Benedict and David Rueter
layout: base.njk
---
{% import "workText.njk" as wt %}

<link rel="stylesheet" href="https://vjs.zencdn.net/8.0.4/video-js.css">

<style>    
    .grid {
        width: 100%; 
        margin 0;
    }
    @media (min-width: 960px){
        .grid-item {
            width: calc((50% - 10px));
            padding-bottom: 20px;
         }
        
    }
    @media (max-width: 960px){
        .grid-item { 
            width: 100%;
            padding-bottom: 1em;
        }
    }

    .grid-item-caption {
    }
    
    .showInfo {
        padding-bottom: 1em;
    }
   
    
</style>
    <div id="home" class="content">
    <div class="showInfo">
        <div class="showTitle"><i>{{pageTitle}}</i></div>
        <div class="showLocation">{{page.date.getFullYear()}}</div>
        {%if location %}
        <div class="showLocation">{{location}}</div> 
        {%endif%}
        <div class="showArtists">{{artists}}</div>
        {% if pdf %}
        <div class="showArtists"><a href="{{pdf}}" target="_blank" >PDF documentation</a></div>
        {% endif %}
    </div>
    
    {% set previousPost = collections.images | getPreviousCollectionItem(page) %}
{% set nextPost = collections.images | getNextCollectionItem(page) %}

{% if nextPost %}next: <a href="{{ nextPost.url }}">{{ nextPost.data.pageTitle }}</a>{% endif %}<br>
{% if previousPost %}previous: <a href="{{ previousPost.url }}">{{ previousPost.data.pageTitle }}</a>{% endif %}<br><br>


    <div class="grid" id="grid">
    {% asyncEach im in images %}
    
    <div class="grid-item" id="{{pageTitle | slug}}-{{loop.index + "" | slug}}">
            {% set urlbase = page.url %}
            {% set linkTarget = null %}
            {% set autoFillCaption =  false %}
            {% set gridImage = im %}
            {% include "gridItem.njk" %}
    </div>
    
    {% endeach %}
    </div>
    </div>
    
    
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

    <script>
        setTitleColor("#000");
        var elem = document.querySelector('.grid');
        var mry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item',
        gutter: 20,
        percentPosition: true,
        //isFitWidth: true
        //columnWidth: '.grid-sizer'
        });

        
        imagesLoaded(document.querySelector('.grid'), ()=>{
            mry.layout();
        });
        mry.layout();
        

    </script>
    
   <!-- </section>-->
           