---
title: Marissa Lee Benedict and David Rueter
url: https://benedictrueter.com
img: /static/br.jpg
alt: Documentation of works by artists Marissa Lee Benedict and David Rueter
layout: base.njk
---
<link rel="stylesheet" href="https://vjs.zencdn.net/8.0.4/video-js.css">

<style>    
    .grid {
        width: 100%; 
        margin 0;
    }
    @media (min-width: 960px){
        .grid-item {
            width: calc((50% - 10px));
            padding-bottom: 20px;
         }
        
    }
    @media (max-width: 960px){
        .grid-item { 
            width: 100%;
            padding-bottom: 1em;
        }
    }

    .grid-item-caption {
    }
    
    .showInfo {
        padding-bottom: 1em;
    }
   
    
</style>
    <div id="home" class="content"">
    <div class="showInfo">
        <div class="showTitle"><i>{{pageTitle}}</i></div>
        <div class="showLocation">{{location}}{{", " if location}}{{dateRange }}</div> 
        <div class="showArtists">{{artists}}</div>
        <div class="showArtists"><a href="{{pdf}}" target="_blank" >PDF documentation</a></div>
    </div>

    <div class="grid" id="grid">
    {% for im in images %}
    <div class="grid-item" id="{{pageTitle | slug}}-{{loop.index + "" | slug}}">
        {% if "webimg" in im %}
            {% set alt = works | workInfo (im.workid, "Name") %}
            {% image "." + page.url +  im["webimg"], artists + ", " + works | workInfo (im.workid, "Name"), "100vw"%}
            
        {% elif "webvid" in im %}
         <video-js class="vjs-big-play-centered" data-setup='{"fluid": true, "controls": true}'>
            <source src="{{page.url}}{{im["webvid"] | videoURL}}" type="application/x-mpegURL">
        </video-js>
        {% endif %}
        <div class="grid-item-caption">
            {% workCaption works, tags, im %}
        </div>
            
    </div>
    
    {% endfor %}
    </div>
    </div>
    
    
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

    <script>
        setTitleColor("#000");
        var elem = document.querySelector('.grid');
        var mry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item',
        gutter: 20,
        percentPosition: true,
        //isFitWidth: true
        //columnWidth: '.grid-sizer'
        });

        
        imagesLoaded(document.querySelector('.grid')).on('progress', ()=>{
            mry.layout();
        });
        mry.layout();
        
        let videos = [...document.querySelectorAll('.video-js')];
         videos.forEach(video=>{
            video.addEventListener('loadedmetadata', function(){ alert('lmd'); })
         });

    </script>
    
   <!-- </section>-->
           