---
title: Marissa Lee Benedict and David Rueter
url: https://benedictrueter.com
img: /static/br.jpg
alt: Documentation of works by artists Marissa Lee Benedict and David Rueter
layout: base.njk
---
{% import "workText.njk" as wt %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/video.js/8.20.0/video-js.min.css" integrity="sha512-J3tx4ssoARFr4U9VmZmQe2q672q0jUeYizJW3vglkOBTlQ/N6kF3eVqZZzaey/TdIXH69s3HYe2nQwyxK/Emzw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>    

    .grid-item-caption {
    }
    
    .showInfo {
        padding-bottom: 1em;
    }
   
    
</style>
    <div id="home" class="content">
    <div class="showInfo">
        <div class="showTitle"><i>{{pageTitle}}</i>, {{page.date.getFullYear()}}</div><br>
        <div class="showLocation"></div>
        {%if valueArray(works).length == 1%}
        <div class="showArtists">{{valueArray(works)[0].Medium}}</div><br>
        {%if valueArray(works)[0].Description%}<div class="showArtists">{{valueArray(works)[0].Description}}</div><br>{%endif%}
        {%endif%}
        

        {%if location %}<div class="showLocation">{{location}}</div>{%endif%}
        <div class="showArtists">{{artists}}</div>
        {% if pdf %}
        <div class="showArtists"><a href="{{pdf}}" target="_blank" >PDF documentation</a></div>
        {% endif %}
        <br>
    </div>
    
    
    
    {% set previousPost = collections.images | getPreviousCollectionItem(page) %}
{% set nextPost = collections.images | getNextCollectionItem(page) %}

{% if previousPost %}previous: <a href="{{ previousPost.url }}">{{ previousPost.data.pageTitle }}</a>{% endif %}<br>
{% if nextPost %}next: <a href="{{ nextPost.url }}">{{ nextPost.data.pageTitle }}</a>{% endif %}<br><br>


    <div class="grid" id="grid">
    {% asyncEach im in images %}
    
    <div class="grid-item" id="{{pageTitle | slug}}-{{loop.index + "" | slug}}">
            {% set urlbase = page.url %}
            {% set linkTarget = null %}
            {% set autoFillCaption =  false %}
            {% set gridImage = im %}
            {% include "gridItem.njk" %}
    </div>
    
    {% endeach %}
     <div class="grid-item">
                 <div class="showArtists">
                {{content | safe}}
                </div>
        </div>
    </div>
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/8.20.0/video.min.js"></script>

    <script>
        setTitleColor("#000");
        

    </script>
    
   <!-- </section>-->
           