---
title: Marissa Lee Benedict and David Rueter
url: https://benedictrueter.com
img: /static/br.jpg
alt: Documentation of works by artists Marissa Lee Benedict and David Rueter
layout: base.njk
---
<script>
    setTitleColor("#000")
</script>
<div id="home" class="content">
<div class="textblock">
    {{content | safe}}
<div>
</div>