<div class="workCaption">
    {%if <div class="workTitle workCaptionItem">{{image.Name}}</div>,
    <div class="workCaptionItem">{{image.Year}}</div>,
    <div class="workCaptionItem">{{image.Medium}}</div>
    <div class="workCaptionItem">{{image.Dimensions}}</div>
</div>