---
layout: default
---

<div class="project">

  <header class="post-header">
    <div class="row">
        <div class="col-xs-7">
            <h1 class="post-title">{{ page.title }}</h1>
        </div>
        <div class="col-xs-5 project-meta">
        {% if page.date %}{{ page.date | date: "%Y" }}<br>{% endif %}
        {% if page.medium %} {{ page.medium }}<br>{% endif %}
        {% if page.dimensions %} {{ page.dimensions }}<br>{% endif %}
        {% if page.project-url %}<a href="{{ page.project-url }}">{{page.project-url}}</a><br>{% endif %}
        {% if page.author %} • {{ page.author }}<br>{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}<br>
        </div>
    </div>
      
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
